
body {
  padding: 5%;
}

#dot {
  border: 3px solid red;
  background-color: red;
  position: absolute
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%
}

button {
  top: 20px;
  left: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
