
#dot-animation {
	  height: 40px;
	  width: 40px;
	  background-color: red;
	  animation:
	    nudge 3s linear infinite;
	  border-radius: 100%;
	}

	@keyframes nudge {
	  0%, 100% {
	    transform: translate(0, 0);
	  }

	  100% {
	    transform: translate(400px, 0);
	  }
	}

#dot-animation.off {
	animation-name: none;
}

ul {
	text-decoration: none;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

button.stop_button {
    width: 5em;
    height: 3em;
		margin: 1em;
    border: solid red;
		background: white;
		color: red;
}

.start_button {
    width: 5em;
    height: 3em;
		margin: 1em;
		border: solid green;
    background: white;
    color: green;
}


#example-five {
  position: relative;
}
#example-five-checkbox {
  display: none;
}
#example-five-checkbox:checked + #example-five:after {
  content: "Hide";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#jq-animate {
	background:#98bf21;
	height:50px;
	width:50px;
	position:absolute;
	z-index:500;
	right:0px;
	top:10px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

/*#box1, #box2, #box3 {
	width: 50px;
	height: 100px;
	position: relative;
	border-radius: 50%;
}
#box1 {
	background: #0C0;
}*/
/*#box2 {
	background: #090;
}
#box3 {
	background: #060;
}*/
