
@keyframes grow {
	0% {
		width: 100px;
		height: 100px;
	}

	100% {
		width: 120px;
		height: 120px;
	}
}

#animated {
	width: 100px;
	height: 100px;
  border-radius: 50%;
	background: silver;
	margin: 1em 0;
	animation: grow 1s infinite;
	float: left;
}

#animated.off {
	animation-name: none;
}

.circle {
  border-radius: 50%;
  float: left;
  border: none;
}

ol {
	text-decoration: none;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  border: solid yellow;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
	animation-iteration-count: 2;

	@keyframes {
	    0%   { top:0px;}
	    100%  {top:200px;}
	    }
		}

.box {
  background-color: #218D9B;
  height: 100px;
  width: 100px;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}
